# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/eacomnfa/api.eaconsultancy.info"
PassengerBaseURI "/"
PassengerNodejs "/home/eacomnfa/nodevenv/api.eaconsultancy.info/14/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_NAME eacomnfa_eaconsultancy_db
SetEnv DB_PASSWORD KHAtarnak@@26
SetEnv DB_USER eacomnfa_eaconsultancy_db
SetEnv NODE_ENV production
SetEnv REFRESH_SECRET eaconsultancy
SetEnv TOKEN_SECRET eaconsultancy
SetEnv sslPaymentUrl https://sandbox.sslcommerz.com/gwprocess/v3/api.php
SetEnv sslValidationUrl https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
SetEnv store_id eacon681f79dabdd55
SetEnv store_passwd eacon681f79dabdd55@ssl
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END